<?xml version="1.0"?>
<ruleset name="Part_AttributeUnits">
    <description>Part_AttributeUnits coding standards</description>
    <arg value="p"/>
    <arg name="colors"/>
    <rule ref="PSR2"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
</ruleset>
