<?xml version="1.0"?>
<!--
/**
 * Copyright © PART <info@part-online.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<ruleset name="Part_AttributeUnits">
    <description>Part_AttributeUnits coding standards</description>
    <arg value="p"/>
    <arg name="colors"/>
    <rule ref="PSR2"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <file>Helper</file>
    <file>Model</file>
    <file>Observer</file>
    <file>Test</file>
</ruleset>
